/*/.classpath
/*/*/.classpath
/*/.project
/*/src/main/filters/dev.properties
/*/src/template/project
/*/.settings
/*/target
/*/bin
/*/logs/*
/*/build*.xml

/*/*/.project
/*/src/main/filters/dev.properties
/*/*/.settings
/*/*/target
/*/*/bin
/*/*/src/main/filters/dev.properties
/*/*/src/template/project
/*/*/logs/*
/*/*/build*.xml

/.classpath
/.project
/.settings
/src/main/filters/dev.properties
/src/template/project
/target
/bin
/logs/*
/*.tar.gz
/build*.xml
